appdirs==1.4.3
argcomplete==1.10.0
astroml==0.4.post1
avro-python3==1.9.1
black==19.10b0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
click==7.0
cloudpickle==1.2.2
configargparse==0.15.1
corner==2.0.1
crcmod==1.7
cycler==0.10.0
datrie==0.8
decorator==4.4.1
dill==0.3.0
docopt==0.6.2
docrep==0.2.7
emcee==2.2.1
entrypoints==0.3
f90nml==1.1.2
fastavro==0.21.24
fasteners==0.15
fitsio==1.0.5
future==0.18.2
gitdb2==2.0.6
gitpython==3.0.4
grpcio==1.25.0
hdfs==2.5.8
httplib2==0.18.0
idna==2.8
imageio==2.6.1
intake==0.5.3
locket==0.2.0
matplotlib==3.1.2
missingpy==0.2.0
mock==2.0.0
monotonic==1.5
msgpack==0.6.2
networkx==2.4
numpy==1.17.4
oauth2client==3.0.0
oauthlib==3.1.0
pandas==0.25.3
partd==1.1.0
pathspec==0.6.0
pbr==5.4.4
pillow==6.2.1
pipdeptree==0.13.2
protobuf==3.11.0
pyarrow==0.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
#pybbarolo==1.0.10
pydot==1.4.1
pymongo==3.9.0
pyparsing==2.4.5
pytest-mpl==0.11
python-dateutil==2.8.1
pytz==2019.3
pywavelets==1.1.1
pyyaml==3.13
ratelimiter==1.2.0.post0
requests-oauthlib==1.2.0
rsa==4.0
scikit-image==0.16.2
scipy==1.3.3
setuptools==42.0.1
six==1.13.0
smmap2==2.0.5
sphinx-rtd-theme==0.4.3
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.7
xgcm==0.2.0


